.page {
  font-family: var(--body-font);
  width: 100%;
  overflow-x: hidden;
}

.hero {
  position: relative;
  background-color: var(--green-capiba);
  display: flex;
  align-items: center;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  overflow: visible;
  justify-content: center;
  min-height: 40%;
}

.heroContent {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: var(--page-max-width);
}

.textContainer {
  display: flex;
  height: 100%;
  justify-content: center;
  flex-direction: column;
}

.heroTitle {
  font-family: var(--title-font);
  font-size: 3.5rem;
  line-height: 1.2;
  color: white;
  margin-bottom: 24px;
  font-weight: 700;
}

.heroSubtitle {
  font-size: 1.4rem;
  line-height: 1.6;
  font-weight: 500;
  color: #e9e9e9;
}

.heroImage {
  padding-top: 5rem;
  height: 500px;
  right: 0;
  bottom: -15%;
  z-index: 3;
  margin-left: 10%;
}

.heroImage img {
  max-width: 100%;
  height: auto;
}

.imageContainer {
  width: 530px;
  height: 416px;
}
.heroBlurLeft {
  left: 0;
}

.heroBlurRight {
  right: 0;
}

.blurredPaws,
.blurredPaws2 {
  position: absolute;
  width: auto;
  height: 100%;
  object-fit: contain;
}

.blurredPaws {
  left: 0;
  top: 0;
  z-index: 1;
}
.blurredPaws2 {
  right: -2%;
  top: -10%;
  z-index: 1;
}

.filtersSection {
  padding: 4rem 0 1em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: var(--page-max-width);
  margin: 0 auto;
}

.feedSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 4rem 0;
  display: flex;
  max-width: var(--page-max-width);
  margin: 0 auto;
}

.feedSection h1 {
  font-size: 2rem;
  color: var(--text-color);
}

@media (max-width: 1200px) {
  .heroImage {
    right: -50px;
    bottom: -30px;
  }

  .heroImage img {
    width: 400px;
    height: 400px;
  }
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
    padding: 3rem 1rem 8rem 1rem;
    min-height: 90vh;
  }

  .heroContent {
    margin-left: 0;
    margin-bottom: 2rem;
  }

  .heroTitle {
    font-size: 2.8rem;
  }

  .heroSubtitle {
    font-size: 1.1rem;
  }

  .heroImage {
    position: static;
    transform: none;
    margin-top: 2rem;
  }

  .heroImage img {
    width: 350px;
    height: 350px;
  }

  .heroBlurLeft,
  .heroBlurRight {
    display: none;
  }
}

@media (max-width: 480px) {
  .heroTitle {
    font-size: 2.2rem;
  }

  .heroImage img {
    width: 280px;
    height: 280px;
  }
}
